# Base de datos
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DIRECT_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE

# Auth - Clerk
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# Configuración regional
TZ=America/Mexico_City
NEXT_PUBLIC_LOCALE=es-MX
NEXT_PUBLIC_CURRENCY=MXN

# Fase 2 - Storage
BLOB_READ_WRITE_TOKEN=

# Fase 2 - Email
RESEND_API_KEY=
